.mirador-container {
  .mirador-main-menu-bar {
    // background-color: @black;
    // border-bottom: 1px solid @gray-55;
    // color: @white;
    height: 80px;
    width: 100%;
    /*padding: 4px;*/
    font-size: 14px;
    top: 0;

    display: flex;
    align-items: center;
    background: white;
    justify-content: center;

    box-shadow: 0 2px 4px rgba(0,0,0,.5); 
    position:relative;
    z-index:1;

    .window-options-menu {
      position: relative;
      border-radius: 0;
      display: none;
      /*z-index: 10000;*/
    }
  }

  .mirador-main-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 8px 12px 0 0;
    text-align: right;

    li {
      cursor: pointer;
      float: left;
      padding: 0 15px;
    }

    a {
      color: @white;
      font-weight: normal;
      text-decoration: none;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
        border-bottom: 2px solid @deep-sky-blue;
      }
    }

    /* a:focus {
      border-bottom: 2px solid deepskyblue;
      outline: none;
    }*/
  }

  .mirador-main-menu.user-buttons {
    padding-right: 0;
  }

  .mirador-main-menu.user-logo {
    padding-right: 0;
    padding-left: 0;
    float: left;
  }

  .mirador-window-options-menu {
    list-style: none;
    margin: 0;
    padding: 10px 5px;

    li {
      cursor: pointer;
      padding: 3px 5px;
    }
  }

  .window-manifest-title {
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    margin: 8px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
  }

  .window-manifest-navigation {
    float: right;
    width: 24%;
    min-width:280px;
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
  }
}


.nav-bar-top { height:80px; width:1222px; display:flex;align-items: center; justify-content: space-between; font-family:"Noto Sans"; 
  white-space: nowrap;

  #logo { display:flex; align-items:center;

    a { display: inline-block; margin-right:15px; font-size:0;
      &:last-child span,
      &:first-child span { font-size:24px; line-height:26px; font-weight:500;}
    }

    a > span { font-weight:700; font-size:14px;letter-spacing: 0.29px; text-transform: uppercase; text-decoration: none; }

    #buda img { height:65px; margin-right:10px; }
    #buda { margin-right:0; }


    #buda + a + a span { padding-top: 7px; text-transform: none;  letter-spacing: 1px;  font-weight: 600; display:inline-flex;}

    
    
    #bdrc + a  { font-size:0;}


    #bdrc + a img { height:40px; }

    #bdrc span,
    #buda + a > span { font-size: 24px; line-height: 26px;  font-weight: 500;}
  }
}

#viewer.embed { 
  .nav-bar-top { width:100%;padding-left:24px;
    #return, 
    #logo { display:none; }

    #return + a::before { content:none; display:none; }
  }
  .nav-bar-top,
  .mirador-hud,
  .mirador-main-menu-bar { height:60px;}
  .mirador-viewer { top:60px;}
  .bottomPanel,
  .mirador-osd { height: ~"calc(100% - 60px)"; }
}


/*
.nav-bar-top div { display:flex; align-items:center; }
.nav-bar-top div > a { display:inline-block;  }
.nav-bar-top div #bdrc { font-size: 24px; font-weight:500; text-shadow: 0 1px 0 #111312; color:#111312;}
.nav-bar-top div #bdrc::before { content:' ';display:inline-block;width:202px; height:57px; background:url(../images/BDRC.svg) 0 0; vertical-align: middle; }
.nav-bar-top div #buda { content:' ';display:inline-block;width:41px; height:52px; background:url(../images/icons-2a.png) -187px -1px; }
*/


/*
.nav-bar-top div #buda img,
.nav-bar-top div #bdrc img { vertical-align:middle; display: inline-block; margin-right:30px;}
*/

/* .manifest-info .nav-bar-top #breadcrumbs :not(#return) { display:none; } */

.nav-bar-top #breadcrumbs { color:#152631;  font-size:14px; font-weight:700; line-height:20px; max-width:930px;}
.nav-bar-top #breadcrumbs #return { text-transform: uppercase; }
.nav-bar-top #breadcrumbs #return::before { content:'<'; padding-right:10px;  }

.nav-bar-top #breadcrumbs a:hover, 
.nav-bar-top #breadcrumbs a.on
{ color:#d73449; }

.nav-bar-top #breadcrumbs a { 

  &:not(#return):not(#image) { display:inline-flex;
    & > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  span {  padding-left:33px; position:relative;

    &::before {
      left:0;
      top:3px ;
      content:' ';
      //vertical-align:0px;
      display:inline-block;
      position:absolute;
      width:30px;
      height:16px;
      background-image:url(../images/collecN.svg); // -384px -24px;
      transform:scale(0.9);
      transform-origin: center left ; 
      background-size:contain;
      background-repeat:no-repeat;
    }
  }

  &#collec span { padding-left:38px;
    &::before {
      left : -7px;
      top: -8px;
      width: 50px;
      height: 38px;
    }
  }

  &#vol span{ padding-left:42px;
    &::before {
      top:-3px;
      height:25px;
      width:47px;
      background-image:url(../images/readingN.svg); //icons-2a.png) -630px -23px;
    }
  }

  &#image span { padding-left:48px;

    &::before {
      top:1px;
      width:44px;
      height:34px;
      background-image:url(../images/pageR.svg); //../images/icons-2a.png) -849px -21px;
    }
  }
}


.nav-bar-top #breadcrumbs #collec:hover, 
.nav-bar-top #breadcrumbs #collec.on {
  span::before { background-image:url(../images/collecR.svg); } //-384px -24px; }
}

.nav-bar-top #breadcrumbs #vol:hover, 
.nav-bar-top #breadcrumbs #vol.on {
  span::before { background-image:url(../images/readingR.svg); } //icons-2d.png) -630px -23px; }
}

/*
.nav-bar-top #breadcrumbs #image:hover, 
.nav-bar-top #breadcrumbs #image.on {
  span::before { background:url(../images/icons-2c.png) -849px -21px; }
}
*/

.nav-bar-top #breadcrumbs a.active:not(.on) { cursor:pointer; }

.nav-bar-top #breadcrumbs a {
  position:relative;
  padding:0 10px;
  max-width:300px;

  

  &:not(#return)::before { 
    content:' '; 
    left:0;
    top:4px;
    height:12px;
    width:2px;
    border-left:2px solid #152631;
    position: absolute;
    display: inline-block;
  }

  /*
  &:last-child { padding-right:0; 
  
    &::after { content:none; }
  } 
  */

}
.nav-bar-top #breadcrumbs a.active.on { padding-right:0;  }

.nav-bar-top #breadcrumbs a:first-child {
    border-left:none;
}
.nav-bar-top #breadcrumbs a.on ~ a:not(.on),
.nav-bar-top #breadcrumbs a:not(.active) {
    pointer-events: none;
    
    &:not(#collec) { display:none !important; }
}
.nav-bar-top #breadcrumbs a:not(.active) span {
    opacity:0.5;
    pointer-events: none;
}

.nav-bar-top #breadcrumbs {
  #image,#return { flex-shrink:0; }
  #collec { flex-shrink:1;  }
  #vol { flex-shrink:2; }
}
