.mirador-container {
  ul.scroll-listing-thumbs {
    clear: both;
    list-style: none;
    padding: 0;
    white-space: nowrap;
  }

  ul.scroll-listing-thumbs li {
    box-sizing:border-box;
    margin: 0 0 15px 0;
    padding: 10px 10px 10px 10px;
    /*transition: all 0.05s ease-out;*/
    display: inline-block;
  }

  ul.scroll-listing-thumbs li img {
    background-color: @gray-ee;
    min-height: 25px;
    min-width: 25px;
    margin: 0 auto;
    display: block;
  }

  ul.scroll-listing-thumbs li .thumb-label {
    clear: both;
    color: @gray-99;
    font-size: 12px;
    margin: 0 auto;
    max-width: 200px;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;
  }

  .etext-content {
    box-sizing: border-box; 
    color:black;  
    background:white;
    font-size:~"calc( 3500 * (100% / 2500)  )";
    padding:~"calc(5% * 9 / 16)" 5%;
    white-space:pre;
    word-break: break-all;
    &.loaded-bo {
      font-size:~"calc( 5000 * (100% / 2500)  )";
      //text-align:left;      
    }
    &:empty { height:0 !important; overflow:hidden; transition: all 1s ease-in-out; padding:0;}
  }
}
